@font-face {
    font-family: 'MyCustomFont';
    src: url('/src/assets/fonts/MyCustomFont-Bold.woff2') format('woff2'),
         url('/src/assets/fonts/MyCustomFont-Bold.woff') format('woff');
    font-weight: 900; /* Bold weight */
    font-style: normal;
  }